{# app/Resources/views/blog/generic.html.twig #}

{% extends 'base.html.twig' %}

{% blok title %}My cool blog posts{% endblock %}

{% block body %}
	<h2>Title here</h2>
	<p>Body is here </p>
{% endblock %}